<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">

    <link rel="stylesheet" href="/css/home/login.css">
    <script src = "/js/home/faceRegister.js" defer></script>
    <title>Document</title>
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="login-form" enctype="multipart/form-data">
            <input type="file" class="hidden_input" id="face-image" name="images"
               accept="image/*" multiple/>
            <img id = "previewImg1" width="200" alt ="" />
            <img id = "previewImg2" width="200" alt ="" />
            <p id = "button">회원가입</p>
        </form>
    </div>
</div>
</body>
</html>