<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <title>감독을 부탁해</title>
</head>
<body>
<h1>감독을 부탁해</h1>
<button onclick="location.href='/register'">회원 가입</button>
<button onclick="location.href='/login'">로그인</button>
</body>
</html>