doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom 
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 감독을 부탁해 
        main
            div#welcome
                form
                    input#roomName(placeholder="room name", required, type="text")
                    input#nickname(placeholder="nickname", required, type="text")
                    button Enter room
                h4 Open Rooms:
                ul
            div#call
                div#streams
                    div#myStream
                        video#myFace(autoplay, playsinline, width="400", height="400")
                        h3#userNickname
                        button#mute Mute
                        button#camera Turn Camera Off
                        button#leave Leave
                        select#cameras
                div#chatRoom
                    ul#chatBox
                    form#chatForm
                        input(placeholder="Write chat", required, type="text")
                        button Send
                
                    
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js")